[submodule "rspack-json"]
	path = rspack-json
	url = git@github.com:intellild/rspack.git
	branch = codex/loader-cache-json
[submodule "rspack-storage"]
	path = rspack-storage
	url = git@github.com:intellild/rspack.git
	branch = codex/loader-cache-rspack-storage
