[submodule "rspack-json"]
	path = rspack-json
	url = git@github.com:intellild/rspack.git
	branch = codex/loader-cache-json
[submodule "rspack-storage"]
	path = rspack-storage
	url = git@github.com:intellild/rspack.git
	branch = codex/loader-cache-rspack-storage
[submodule "rspack-rkyv"]
	path = rspack-rkyv
	url = git@github.com:intellild/rspack.git
	branch = codex/loader-cache-rkyv
[submodule "rspack-single-loader"]
	path = rspack-single-loader
	url = git@github.com:intellild/rspack.git
	branch = codex/loader-cache-single-loader
